<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" href="{{baseUIPath}}ui/semantic2/semantic.css" />

  <script src="{{baseUIPath}}ui/jquery/jquery-2.1.3.min.js"></script>
  <script src="{{baseUIPath}}ui/jquery/jquery.address.js"></script>
  <script src="{{baseUIPath}}ui/semantic2/semantic.js"></script>
  <script src="{{baseUIPath}}ui/semantic2/library/tablesort.js"></script>
  <script>
  $(function() {
  	$('table.sortable').tablesort();
  });
  
  </script>
  {% for js in extra_js %}<script src="{{js}}"></script>{% endfor %}
  {% for css in extra_css %}<link rel="stylesheet" type="text/css" href="{{css}}" />{% endfor %}
</head>
<body style="padding: 2em">

	<a href="{{basePath}}"><img src="{{baseUIPath}}ui/gitsync-small.png" /></a>

	{% if app.isGranted('IS_AUTHENTICATED_FULLY') %}
		<a href="{{path('logout')}}" class="ui tiny button right floated">Logout</a>
	{% elseif app.isSecurityEnabled() %}
		<a href="{{path('login')}}" class="ui tiny button right floated">Login</a>
	{% else %}
		<div class="ui warning message">
			<div class="header">
				GitSync is insecure!
			</div>
			Anyone can access your GitSync. Please configure a security provider to secure access. Refer README on your server or GitHub.
		</div>
	{% endif %}

	{{content|raw}}

	<div style="padding-bottom:3em">Powered by GitSync
	(<a href="https://github.com/MLukman/GitSync">https://github.com/MLukman/GitSync</a>)</div>

</body>
</html>