<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" href="{{baseUIPath}}ui/semantic2/semantic.css" />

  <script src="{{baseUIPath}}ui/jquery/jquery-2.1.3.min.js"></script>
  <script src="{{baseUIPath}}ui/jquery/jquery.address.js"></script>
  <script src="{{baseUIPath}}ui/semantic2/semantic.js"></script>
  <script src="{{baseUIPath}}ui/semantic2/library/tablesort.js"></script>
  <script>
  $(function() {
  	$('table.sortable').tablesort();
  });
  
  </script>
  {% for js in extra_js %}<script src="{{js}}"></script>{% endfor %}
  {% for css in extra_css %}<link rel="stylesheet" type="text/css" href="{{css}}" />{% endfor %}
</head>
<body style="{% if not nopadding is defined or not nopadding %}padding:2em{% endif %}">

<a href="{{app.path('root')}}"><img src="{{baseUIPath}}ui/gitsync-small.png" /></a>
{{content|raw}}    

</body>
</html>