<script>
	$(function() {
		$('#pagetab.menu .item').tab({
			history: true,
			historyType: 'hash'
		});
	});
</script>

<h1 class="ui header">
	<i class="sitemap icon"></i>
	<div class="content">{{context.getName()}} [{{context.getPath()}}]</div>
</h1>

<div>
	<div class="ui basic blue label"><i class="database icon"></i>{{context.getRemoteURL()}}</div>
	<div class="ui basic blue label"><i class="fork icon"></i>{{context.getBranchName()}}</div>
	{% if context.isDirty() %}
	<div class="ui red label"><i class="warning sign icon"></i>Unsync</div>
	{% endif %}
	{% if not context.isLatest() %}
	<div class="ui orange label"><i class="warning sign icon"></i>Outdated</div>
	{% endif %}
</div>

{% set unsync = (modifications|length > 0) %}

<div id="pagetab" class="ui secondary pointing menu large">
	{% if unsync %}
	<a class="active item" data-tab="unsync">Unsync <span class="ui circular tiny label">{{modifications|length}}</span></a>
	{% endif %}
	<a class="{% if not unsync %}active {% endif %}item" data-tab="revisions">Revisions</a>
	{% if auditlog %}
	<a class="item" data-tab="auditlog">Audit Log</a>
	{% endif %}
</div>

{% if unsync %}
<div class="ui active tab" data-tab="unsync">
	<p>The following <strong>{{modifications|length}}</strong> modifications have been found:</p>
	<table class="ui celled striped compact inverted red table">
		<thead>
			<tr>
				<th>Status</th>
				<th>Filename with path</th>
				<th>Modified</th>
			</tr>
		</thead>
		<tbody>
		{% set desc = {'': 'Staged', 'M': 'Modified', 'A': 'Added', 'D': 'Deleted', 'R': 'Renamed', 'C': 'Copied', '?': 'New'} %}
		{% for mod in modifications %}
			<tr>
				<td class="collapsing">{{desc[mod.status]}}</td>
				<td>{{mod.filename}}</td>
				<td class="collapsing">{%if mod.mtime %}{{mod.mtime.format('Y-m-d H:i')}}{% else %}-{% endif %}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

<div class="ui {% if not unsync %}active{% endif %} tab" data-tab="revisions">
	<form method="get" action="{{app.path('context_refresh', {'ctxid': ctxid})}}" onsubmit="$('#dimmer_refresh').dimmer('show'); return true;">
		<input type="hidden" name="redirect" value="{{app.path('context_details', {'ctxid': ctxid})}}#/revisions" />
		<input id="refreshbutton" type="submit" class="ui primary tiny button" value="Refresh from Remote Repositories" />
	</form>
	<table class="ui celled striped sortable table">
		<thead>
			<tr>
				<th>Timestamp</th>
				<th>Tag/SHA</th>
				<th colspan="2">Message</th>
			</tr>
		</thead>
		<tbody>
		{% for revision in revisions %}
			{% if revision.getSHA() %}
			<tr{% if revision.getCommit().getSHA() == head.getSHA() %} class="active"{% endif %}>
				<td class="collapsing">{{revision.getDate().format('Y-m-d H:i:s')}}</td>
				<td class="center aligned collapsing">
				{% for tag in revision.getTags() %}<span class="ui blue tag label">{{tag}}</span>
				{% else %}{{revision.getSHA(true)}}
				{% endfor %}
				</td>
				<td>{{revision.getMessage()}}</td>
				<td class="ui center aligned collapsing">
					{% if revision.getCommit() == head and not context.isDirty() %}
					<i class="ui check square icon"></i>OK
					{% else %}
					<form action="{{app.path('context_checkout', {'ctxid': ctxid})}}" method="post" onSubmit="return confirm('Sync with {{revision.getRef(true)}}?') && $('#dimmer_sync').dimmer('show') != null;">
					<input type="hidden" name="redirect" value="{{app.path('context_details', {'ctxid': ctxid})}}#/revisions" />
					<input type="hidden" name="ref" value="{{revision.getRef()}}" />
					<input type="submit" class="ui primary button" value="Sync" />
					</form>
					{% endif %}</td>
			</tr>
			{% else %}
			<tr><td colspan="4">Unable to load revision details -- something is wrong!</td></tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
</div>

{% if auditlog %}
<div class="ui tab" data-tab="auditlog">
	<table class="ui celled striped sortable table">
		<thead>
			<tr>
				<th>Timestamp</th>
				<th>Event</th>
				<th>From</th>
				<th>To</th>
				<th>By</th>
			</tr>
		</thead>
		<tbody>
		{% for audit in auditlog %}
			<tr>
				<td class="collapsing">{{audit.datetime.format('Y-m-d H:i:s')}}</td>
				<td class="collapsing">{{audit.event}}</td>
				<td{% if audit.from == audit.to %} colspan="2"{% endif %}>{{audit.from}}</td>
				{% if audit.from != audit.to %}<td>{{audit.to}}</td>{% endif %}
				<td class="collapsing">{{audit.uid}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

<div id="dimmer_refresh" class="ui page dimmer">
	<div class="content">
		<div class="center">
			<h2 class="ui inverted icon header">
				<i class="refresh icon"></i>
				Refresh in progress
				<div class="sub header">Please wait for a while ...</div>
			</h2>
		</div>
	</div>
</div>

<div id="dimmer_sync" class="ui page dimmer">
	<div class="content">
		<div class="center">
			<h2 class="ui inverted icon header">
				<i class="download icon"></i>
				Sync in progress
				<div class="sub header">Please wait for a while ...</div>
			</h2>
		</div>
	</div>
</div>