{% extends "content.twig" %}

{% block content %}
	<script>
		$(function () {
			$.ajax('{{app.path('context_status_all')}}', {
				success: function (data, status, xhr) {
					for (var ctx in data) {
						var el = $('#status_' + ctx);
						el.empty();
						if (!data[ctx].init) {
							el.addClass('red');
							el.append($('<i class="warning sign icon" />'));
							el.append($('<span>Not a Git repo</span>'));
						} else if (data[ctx].dirty) {
							el.addClass('red');
							el.append($('<i class="warning sign icon" />'));
							el.append($('<span>Unsync</span>'));
						} else if (!data[ctx].latest) {
							el.addClass('orange');
							el.append($('<i class="warning sign icon" />'));
							el.append($('<span>Outdated</span>'));
						} else {
							el.addClass('green');
							el.append($('<i class="check circle icon" />'));
							el.append($('<span>OK</span>'));
						}
					}
				}
			});
		});
	</script>

	<h1 class="ui header">
		<i class="database icon"></i>
		<div class="content">All contexts</div>
	</h1>

	{% if not app.isSecurityEnabled() or app.isGranted('IS_AUTHENTICATED_FULLY') %}
		<form method="get" action="{{app.path('context_refresh_all')}}" onsubmit="$('#dimmer_refresh').dimmer('show');
				return true;">
			<input id="refreshbutton" type="submit" class="ui primary tiny button" value="Refresh All Contexts from Remote Repositories" />
		</form>
	{% endif %}

	{% for id,context in contexts %}
		<div class="ui item stacked segment">
			<h2 class="header">
				<a href="{{app.path('context_details', {'ctxid': id})}}">{{context.getName()}}</a>
			</h2>
			<div class="ui description">
				<p>{{context.getPath}}</p>
				<div class="ui basic blue label"><i class="database icon"></i>{{context.getRemoteURL()}}</div>
				<div class="ui basic blue label"><i class="fork icon"></i>{{context.getBranchName()}}</div>
			</div>
			<div class="ui top right attached label" id="status_{{context.getId}}">Checking ...</div>
		</div>
	{% endfor %}

	<div id="dimmer_refresh" class="ui page dimmer">
		<div class="content">
			<div class="center">
				<h2 class="ui inverted icon header">
					<i class="refresh icon"></i>
					Refresh in progress
					<div class="sub header">Please wait for a while ...</div>
				</h2>
			</div>
		</div>
	</div>
{% endblock %}