{% extends "content.twig" %}

{% block content %}
	<script>
		$(function () {
			$.ajax('{{app.path('context_status_all')}}', {
				success: function (data, status, xhr) {
					for (var ctx in data) {
						var el = $('#status_' + ctx);
						el.empty();
						if (!data[ctx].init) {
							el.addClass('red');
							el.append($('<i class="warning sign icon" />'));
							el.append($('<span>Not a Git repo</span>'));
						} else if (data[ctx].dirty) {
							el.addClass('red');
							el.append($('<i class="warning sign icon" />'));
							el.append($('<span>Unsync</span>'));
						} else if (!data[ctx].latest) {
							el.addClass('orange');
							el.append($('<i class="warning sign icon" />'));
							el.append($('<span>Outdated</span>'));
						} else {
							el.addClass('green');
							el.append($('<i class="check circle icon" />'));
							el.append($('<span>OK</span>'));
						}
					}
				}
			});
		});
	</script>

	{% if not app.isSecurityEnabled() or app.isGranted('IS_AUTHENTICATED_FULLY') %}
		<form method="get" action="{{app.path('context_refresh_all')}}" onsubmit="$('#dimmer_refresh').dimmer('show');
				return true;">
			<input id="refreshbutton" type="submit" class="ui primary tiny button" value="Refresh All from Remote Repositories" />
		</form>
		<br />
	{% endif %}

	<div class="ui two stackable cards">
		{% for id,context in contexts %}
			<a class="ui card" href="{{app.path('context_details', {'ctxid': id})}}">
				<div class="content">
					<div class="header">
						<h2>
							<div class="ui right floated label" id="status_{{context.getId}}">Checking ...</div>
							<i class="ui sitemap icon"></i> {{context.getName()}}
						</h2>
					</div>
				</div>
				<div class="content">
					<div class="ui description">
						{% set info = { 
							'Local Path': context.getPath(),
							'Remote Repository': context.getRemoteURL(), 
							'Repository Branch': context.getBranchName() } %}
						<div class="ui divided list">
							{% for label,value in info %}
								<div class="item">
									<div class="header">{{label}}</div>
									<div class="description">{{value}}</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>

	<div id="dimmer_refresh" class="ui page dimmer">
		<div class="content">
			<div class="center">
				<h2 class="ui inverted icon header">
					<i class="refresh icon"></i>
					Refresh in progress
					<div class="sub header">Please wait for a while ...</div>
				</h2>
			</div>
		</div>
	</div>
{% endblock %}
