<h1 class="ui header">
	<i class="sitemap icon"></i>
	<div class="content">{{context.getName()}} [{{context.getPath()}}]</div>
</h1>

<div class="ui basic blue label"><i class="database icon"></i>{{context.getRemoteURL()}}</div>
<div class="ui basic blue label"><i class="fork icon"></i>{{context.getBranch()}}</div>
{% if context.isDirty() %}
<div class="ui red label"><i class="warning sign icon"></i>Unsync</div>
{% endif %}
{% if not context.isLatest() %}
<div class="ui orange label"><i class="warning sign icon"></i>Outdated</div>
{% endif %}

{% if repoStatus.count() %}
<h2>Unsync</h2>
<p>The following modifications have been found:</p>
<ul>
{% set desc = {'': 'Staged', 'M': 'Modified', 'A': 'Added', 'D': 'Deleted', 'R': 'Renamed', 'C': 'Copied', '?': 'New'} %}
{% for status in repoStatus %}
<li>({{desc[status.getWorkingTreeStatus()]}}) {{status.getName()}}</li>
{% endfor %}
</ul>
{% endif %}

<h2>Revisions</h2>
<table class="ui celled striped sortable table">
	<thead>
		<tr>
			<th>Timestamp</th>
			<th>Tag/SHA</th>
			<th colspan="2">Message</th>
		</tr>
	</thead>
	<tbody>
	{% for revision in revisions %}
		{% if revision.getSHA() %}
		<tr{% if revision.getCommit().getSHA() == head.getSHA() %} class="active"{% endif %}>
			<td class="collapsing">{{revision.getDate().format('Y-m-d H:i:s')}}</td>
			<td class="center aligned collapsing">
			{% for tag in revision.getTags() %}<span class="ui blue tag label">{{tag}}</span>
			{% else %}{{revision.getSHA(true)}}
			{% endfor %}
			</td>
			<td>{{revision.getMessage()}}</td>
			<td class="ui center aligned collapsing">
				{% if revision.getCommit() == head and not context.isDirty() %}
				<i class="ui check square icon"></i>OK
				{% else %}
				<form action="{{app.path('context_checkout', {'ctxid': ctxid})}}" method="post" onSubmit="return confirm('Sync with {{revision.getRef(true)}}?')">
				<input type="hidden" name="ref" value="{{revision.getRef()}}" />
				<input type="submit" class="ui primary button" value="Sync" />
				</form>
				{% endif %}</td>
		</tr>
		{% else %}
		<tr><td colspan="4">Unable to load revision details -- something is wrong!</td></tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>