<h1 class="ui header">
	<i class="sitemap icon"></i>
	<div class="content">{{ctxid}} [{{context.getPath()}}]</div>
</h1>

<a class="ui basic blue label"><i class="fork icon"></i>{{context.getBranch()}}</a>
{% if context.isDirty() %}
<a class="ui red label"><i class="warning sign icon"></i>Unsync</a>
{% endif %}
{% if not context.isLatest() %}
<a class="ui orange label"><i class="warning sign icon"></i>Outdated</a>
{% endif %}

{% if repoStatus.count() %}
<h2>Unsync</h2>
<p>The following modifications have been found:</p>
<ul>
{% set desc = {'': 'Staged', 'M': 'Modified', 'A': 'Added', 'D': 'Deleted', 'R': 'Renamed', 'C': 'Copied', '?': 'New'} %}
{% for status in repoStatus %}
<li>({{desc[status.getWorkingTreeStatus()]}}) {{status.getName()}}</li>
{% endfor %}
</ul>
{% endif %}

<h2>Revisions</h2>
<table class="ui celled striped sortable table">
	<thead>
		<tr>
			<th>Timestamp</th>
			<th>SHA</th>
			<th colspan="2">Message</th>
		</tr>
	</thead>
	<tbody>
	{% for commit in commits %}
		{% if commit.getSHA() %}
		<tr{% if commit == head %} class="active"{% endif %}>
			<td class="collapsing">{{commit.getDatetimeCommitter().format('Y-m-d H:i:s')}}</td>
			<td class="collapsing">{{commit.getSHA(true)}}</td>
			<td>{{commit.getMessage()}}</td>
			<td class="ui center aligned collapsing">
				{% if commit == head and not context.isDirty() %}
				<i class="ui check square icon"></i>
				{% else %}
				<a href="{{app.path('context_checkout', {'ctxid': ctxid, 'ref': commit.getSHA()})}}" class="ui primary button">Restore</a>
				{% endif %}</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>