<h1 class="ui header">
	<i class="database icon"></i>
	<div class="content">All contexts</div>
</h1>

{% if not app.isSecurityEnabled() or app.isGranted('IS_AUTHENTICATED_FULLY') %}
<div>
	<a href="{{app.path('context_refresh')}}" class="ui primary button">Refresh from Remote Repositories</a>
</div>
{% endif %}

{% for id,context in contexts %}
<div class="ui item stacked segment">
	<h2 class="header">
		<a href="{{app.path('context_details', {'ctxid': id})}}">{{context.getName()}}</a>
	</h2>
	<div class="ui description">
		<p>{{context.getPath}}</p>
		<div class="ui basic blue label"><i class="database icon"></i>{{context.getRemoteURL()}}</div>
		<div class="ui basic blue label"><i class="fork icon"></i>{{context.getBranch()}}</div>
	</div>
	{% if context.isDirty() %}
	<a class="ui red top right attached label"><i class="warning sign icon"></i>Unsync</a>
	{% elseif not context.isLatest() %}
	<a class="ui orange top right attached label"><i class="warning sign icon"></i>Outdated</a>
	{% else %}
	<a class="ui green top right attached label"><i class="check circle icon"></i>OK</a>
	{% endif %}
</div>
{% endfor %}
